@model IEnumerable<BooksStore.Domain.Entities.Type>

<ul class="nav navbar-nav">
    @foreach(var t in Model)
    {
        <li>@Html.ActionLink(t.Name, "List", "Product", new { type = t.Name},null)</li>
    }
   
    <li>@Html.ActionLink("Добавление/Редактирование товаров","Index","Admin")</li>
</ul>